.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: clamp(35ch, 85%, 130ch);
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.content > *:nth-child(1) {
  padding: 2rem;
  flex: 1 1 50%;
  min-width: 25ch;
  background-color: orange;
}

.content > *:nth-child(2) {
  padding: 2rem;
  flex: 1 1 50%;
  background-color: black;
}
