.container {
  min-height: 80vh;
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

.content {
  width: clamp(35ch, 95%, 130ch);
  display: flex;
  flex-direction: column;
  color: #333;
}

.header {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  padding: 0.6rem;
  background-color: #a663cc;
  color: white;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.header button:hover {
  background-color: #834ca3;
}

.shippingCostContainer {
  display: flex;
  margin-bottom: 0.75rem;
}

.shippingCostContainer p {
  margin: 0;
}

.products {
  padding-inline: 0.5rem;
  margin-bottom: 2.2rem;
  border-radius: 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.products > *:nth-child(1) {
  margin-top: 1.7rem;
}

.card {
  position: relative;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card img {
  margin-right: 0.5rem;
  border-radius: 0.3rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.productInfo p {
  margin: 0;
}

.productInfo > *:nth-child(1) {
  font-weight: 700;
}

.productInfo > *:nth-child(2) {
  margin-block: 0.2rem;
}

.buttonContainer {
  height: 30px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  height: 28px;
  display: flex;
}

.buttonContainer button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a663cc;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buttonContainer button:hover {
  background-color: #834ca3;
}

.quantity {
  margin-inline: 3px;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #a563ccd2;
  font-weight: bold;
  border-radius: 0.3rem;
}

.totalPrice {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.totalPrice p {
  margin: 0;
}

.totalPrice > *:nth-child(2) {
  margin: 0.25rem 0 1rem;
}

.totalPrice span {
  color: #a663cc;
  font-weight: bold;
}

.empty {
  margin: 2rem 0 10rem;
}

.fakeTextExplanation {
  margin: 1.5rem 0 0.7rem;
  line-height: 1.35rem;
}

.fakeTextExplanation p {
  margin: 0;
  max-width: 75ch;
  text-wrap: pretty;
}

.formContainer {
  padding: 1.5rem 0 2rem;
  margin-top: 0.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form {
  width: clamp(30ch, 90%, 100ch);
  display: flex;
  flex-direction: column;
}

.formHeading {
  width: clamp(30ch, 90%, 100ch);
}

.input {
  padding: 0.3rem;
  margin-block: 0.75rem;
  height: 35px;
  width: 100%;
  background-color: white;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 0.3rem;
}

.inputContainer {
  position: relative;
}

.nameField {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.firstNameField,
.lastNameField {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.areaField {
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.zipField,
.cityField {
  position: relative;
  display: flex;
  flex-direction: column;
}

.zipField {
  flex: 1 1 30%;
  min-width: 28ch;
}

.cityField {
  flex: 1 1 50%;
}

.errorMessage {
  position: absolute;
  top: -20px;
  left: 0;
  color: #c1121f;
  font-size: 0.9rem;
}

.errorMessage p {
  margin: 0;
}

.inputValid {
  border: 3px solid #2a9d8f;
}

.order {
  margin-bottom: 0.5rem;
  width: clamp(30ch, 90%, 100ch);
  display: flex;
  justify-content: flex-end;
}

.order button {
  padding: 0.6rem;
  margin-top: 0.35rem;
  background-color: #a663cc;
  color: white;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.order button:not(:disabled):hover {
  background-color: #834ca3;
}

@media (max-width: 880px) {
  .products {
    margin-bottom: 1.2rem;
  }
  .formContainer {
    margin-bottom: 3rem;
  }
}

@media (max-width: 615px) {
  .shippingCostContainer {
    display: none;
  }
  .products {
    margin-top: 0.5rem;
  }
  .areaField,
  .nameField {
    gap: 0rem;
  }
  .firstNameField,
  .lastNameField,
  .zipField {
    min-width: 30ch;
  }
}

@media (max-width: 400px) {
  .container {
    font-size: 0.9rem;
  }
}

@media (max-width: 300px) {
  .container {
    font-size: 0.8rem;
  }
  .header button {
    padding: 0.35rem;
  }
  .buttonContainer {
    right: 6px;
  }
  .buttonContainer button {
    width: 18px;
  }
  .quantity {
    width: 38px;
  }
}

@media (hover: none), (hover: on-demand) {
  .header button {
    transition: none;
  }
  .header button:hover {
    background-color: #a663cc;
  }
  .buttonContainer button {
    transition: none;
  }
  .buttonContainer button:hover {
    background-color: #a663cc;
  }
  .order button {
    transition: none;
  }
  .order button:not(:disabled):hover {
    background-color: #a663cc;
  }
}
