.container {
  min-height: 80vh;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  width: clamp(35ch, 95%, 130ch);
  display: flex;
  flex-direction: column;
  color: #333;
}

.intro {
  margin-bottom: 1.35rem;
  line-height: 1.75rem;
}

.orderConfirmation {
  padding: 1.5rem;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #a663cc;
}

.orderConfirmation h3 {
  color: #a663cc;
}

.customerInfo {
  margin: 2rem 0 4rem;
  width: clamp(20ch, 100%, 50ch);
  display: flex;
  flex-wrap: wrap;
  background-color: #e6e1da;
  border-radius: 0.5rem;
}

.customerInfo p {
  margin: 0.5rem;
}

.customerInfo > *:nth-child(1) {
  flex: 1 1 50%;
  min-width: 20ch;
}

.customerInfo > *:nth-child(2) {
  flex: 1 1 50%;
}

.bold {
  font-weight: bold;
}

.productTable {
  padding-top: 0.7rem;
  margin-bottom: 5rem;
  width: 100%;
  border-top: 2px solid #a663cc;
}

.productTable th {
  text-align: left;
}

.productTable th,
td {
  padding: 0.5rem;
  border-bottom: 1px solid #dfdfdf;
}

.totalPriceContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.totalPriceContainer p {
  margin: 0.2rem;
}

.totalPrice {
  font-weight: bold;
  color: #a663cc;
}

.closeButton {
  padding: 0.6rem;
  margin-top: 0.2rem;
  background-color: #a663cc;
  color: white;
  font-family: inherit;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.closeButton:hover {
  background-color: #834ca3;
}

.farewell {
  margin-top: 1.35rem;
}

.farewell p {
  max-width: 75ch;
  text-wrap: pretty;
}

@media (max-width: 880px) {
  .intro p {
    margin-block: 0.5rem;
  }
}

@media (min-width: 551px) {
  .headingSmallScreen {
    display: none;
  }
}

@media (max-width: 550px) {
  .headingBigScreen {
    display: none;
  }
}

@media (max-width: 400px) {
  .container {
    font-size: 0.855rem;
  }
}

@media (max-width: 300px) {
  .productTable {
    font-size: 0.55rem;
  }
}

@media (hover: none), (hover: on-demand) {
  .closeButton {
    transition: none;
  }
  .closeButton:hover {
    background-color: #a663cc;
  }
}
