.container {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.content {
  width: clamp(20ch, 80%, 130ch);
}

.productsGrid {
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  padding: 1.7rem;
  position: relative;
  height: 425px;
  background-color: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cardTop {
  margin-top: 0.55rem;
  display: flex;
  justify-content: center;
}

.imgContainer {
  position: relative;
}

.imgContainer img {
  border-radius: 0.5rem;
}

.roastContainer {
  padding-block: 0.2rem;
  width: 155px;
  position: absolute;
  top: 9px;
  left: -54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #a663cc;
  transform: rotate(320deg);
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.roastContainer p {
  margin: 0;
}

.priceContainer {
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: -14px;
  left: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #a663cc;
  font-size: 0.95rem;
  clip-path: circle(50% at 50% 50%);
}

.cardMiddle {
  text-align: center;
  font-size: 0.9rem;
}

.cardMiddle h3 {
  margin-top: 1.2rem;
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
}

.cardMiddle p {
  line-height: 1.25rem;
  margin: 0;
}

.cardBottom {
  margin-top: 1rem;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}

.buttonContainer {
  height: 30px;
  display: flex;
  margin-top: 0.1rem;
}

.onlyBuyButton {
  width: 132px;
  color: white;
  background-color: #a663cc;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.addAndRemoveButtons {
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #a663cc;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.quantity {
  margin-inline: 3px;
  width: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #a563ccd2;
  font-weight: bold;
  border-radius: 0.3rem;
}

.recommendations {
  margin-top: 7rem;
  margin-bottom: 4.5rem;
  display: flex;
  flex-wrap: wrap;
}

.recommendations > *:nth-child(1) {
  flex: 1 1 30%;
  /* background-color: #52796f;
  background-color: #354f52;
  background-color: #ece2d0; */
}

.recommendations > *:nth-child(2) {
  flex: 1 1 70%;
  height: 270px;
}

.recommendations > *:nth-child(2) img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
