.container {
  margin-bottom: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.content {
  width: clamp(20ch, 80%, 130ch);
}

.hr {
  height: 2px;
  border: none;
  background: #834ca3;
  box-shadow: 0 3px 0 #834ca360;
}

.bestSellerHeading {
  margin: 2.5rem 0 1.5rem;
}

.productsGridBestSeller {
  margin-bottom: 8.5rem;
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.productsGridRecommendations {
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  padding: 1.7rem;
  position: relative;
  height: 425px;
  background-color: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover {
  .roastContainer {
    background-color: #834ca3;
  }
}

.cardTop {
  margin-top: 0.55rem;
  display: flex;
  justify-content: center;
}

.imgContainer {
  position: relative;
}

.imgContainer img {
  border-radius: 0.5rem;
}

.roastContainer {
  padding-block: 0.2rem;
  width: 155px;
  position: absolute;
  top: 9px;
  left: -54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #a663cc;
  transform: rotate(320deg);
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  transition: background-color 0.2s ease-in-out;
}

.roastContainer p {
  margin: 0;
}

.priceContainer {
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: -14px;
  left: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #a663cc;
  font-size: 0.95rem;
  clip-path: circle(50% at 50% 50%);
}

.cardMiddle {
  text-align: center;
  font-size: 0.9rem;
}

.cardMiddle h3 {
  margin-top: 1.2rem;
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
}

.cardMiddle p {
  line-height: 1.25rem;
  margin: 0;
}

.cardBottom {
  margin-top: 1rem;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}

.buttonContainer {
  height: 30px;
  display: flex;
  margin-top: 0.1rem;
}

.onlyBuyButton {
  width: 132px;
  color: white;
  background-color: #a663cc;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.onlyBuyButton:hover {
  background-color: #834ca3;
}

.addAndRemoveButtons {
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #a663cc;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.addAndRemoveButtons:hover {
  background-color: #834ca3;
}

.quantity {
  margin-inline: 3px;
  width: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #a563ccd2;
  font-weight: bold;
  border-radius: 0.3rem;
}

.recommendations {
  margin-top: 1.75rem;
  margin-bottom: 3.75rem;
  display: flex;
  flex-wrap: wrap;
}

.recommendations > *:nth-child(1) {
  padding-right: 1rem;
  flex: 1 1 45%;
  min-width: 30ch;
  line-height: 1.35rem;
}

.recommendations > *:nth-child(2) {
  height: 450px;
  flex: 1 1 55%;
  min-width: 41ch;
}

.recommendations > *:nth-child(2) img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.recommendations p {
  max-width: 75ch;
  text-wrap: pretty;
}

@media (max-width: 880px) {
  .container,
  .productsGridBestSeller {
    margin-bottom: 5rem;
  }
}

@media (max-width: 840px) {
  .content {
    text-align: center;
  }
  .recommendations > *:nth-child(1) {
    padding-right: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 470px) {
  .recommendations > *:nth-child(2) {
    min-width: 30ch;
  }
}

@media (max-width: 289px) {
  .container {
    padding-left: 1rem;
    justify-content: unset;
    font-size: 0.9rem;
  }
}

@media (hover: none), (hover: on-demand) {
  .card:hover {
    .roastContainer {
      background-color: #a663cc;
    }
  }
  .roastContainer,
  .onlyBuyButton,
  .addAndRemoveButtons {
    transition: none;
  }
  .onlyBuyButton:hover,
  .addAndRemoveButtons:hover {
    background-color: #a663cc;
  }
}
